#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc_snxxx@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

on early-init && property:ro.boot.hwname=joyeuse
    setprop ro.boot.product.hardware.sku nfc

on init && property:ro.boot.product.hardware.sku=nfc
    start vendor.nfc_hal_service

on post-fs-data && property:ro.boot.product.hardware.sku=nfc
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/nfc/param 0770 nfc nfc
